<script src="/bundle.js" charset="utf-8"></script>
<script type="text/javascript">
    function login() {
        console.log('login clicked')
        el = document.getElementById("loginModal");
        el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible";
    }
</script>
<script src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
</body>
</html>
