<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta name="description" content="Predict the final score of each game to earn points and compete against the crowd. It takes as long as a coin flip and is way more fun than a plain, old pick 'em game!">
  <meta name="keywords" content="football, basketball, prediction, fantasy, fantasy sports, pickem"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>Stakehouse Sports - A Game that Goen Beyond the Coin Flip</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
  
  
    <!--     Fonts and icons     -->
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
  <link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.typekit.net/zgi1gxi.css">
    <link href="https://www.crowdwisdomsports.com/assets/css/cws.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/assets/css/main.css" />

    <!-- CSS Files -->
    
  <link rel="stylesheet" href="/style.css" crossorigin="anonymous">
    <!-- <link href="https://www.crowdwisdomsports.com/assets/css/material-kit.css" rel="stylesheet"/> -->
    <link href="https://www.crowdwisdomsports.com/assets/css/hopscotch.min.css" rel="stylesheet"/>
    <script src="https://unpkg.com/react/umd/react.production.min.js" crossorigin/>
    <script
      src="https://unpkg.com/react-dom/umd/react-dom.production.js"
      crossorigin/>
    <script
      src="https://unpkg.com/react-bootstrap@next/dist/react-bootstrap.min.js"
      crossorigin/>
    <script>var Alert = ReactBootstrap.Alert;</script>
    <style type="text/css">
      .dropdown a {
        color: #B42135;
        padding: 2px 10px;
      }
      .btn-success {
        background-color: #B42135;
        border-color: #740010
      }
      .btn-success:hover {
        background-color: #cc3e51
      }
      .btn-success:focus {
        box-shadow: 0 0 0 0.2rem #960F22
      }
      .btn-success:active {
        background-color: #960F22;
        border-color: #740010;
      }
    </style>
</head>
<body class="container">

    
