<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Naming Contests</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css" crossorigin="anonymous">
  
    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- CSS Files -->
    <link href="https://www.crowdwisdomsports.com/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://www.crowdwisdomsports.com/assets/css/material-kit.css" rel="stylesheet"/>
    <link href="https://www.crowdwisdomsports.com/assets/css/hopscotch.min.css" rel="stylesheet"/>
    <link href="https://www.crowdwisdomsports.com/assets/css/cws.css" rel="stylesheet"/>
    <style type="text/css">
      #loginModal {
          visibility: hidden;
          position: absolute;
          left: 0px;
          top: 0px;
          width:100%;
          height:100%;
          text-align:center;
          z-index: 1000;
      }
    </style>
</head>
<body class="container">
    <div class="row" style='margin-bottom: 100px'>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="header-icon"><a href="/"><img src="https://crowdsourcedscores.files.wordpress.com/2016/11/cropped-css-logo-footballleft-webres-1300px.jpg?w=520" alt="Crowd Wisdom Sports"></a></div>
                <div class="navbar-header"><a href="/" class="navbar-brand"><span class="hidden-md">Crowd Wisdom Sports</span><span class="visible-md">CW Sports</span></a>
                <button type="button" data-toggle="collapse" data-target="#navbar-main" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                </div>
                <div id="navbar-main" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="/">NFL</a></li>
                    <li><a href="/?sport=ncaaf">College Bowls</a></li>
                    <li><a href="/?sport=ncaam">March Madness</a></li>
                    <li><a href="https://blog.crowdsourcedscores.com/" target="blog">Blog</a></li>
                    <li><a class="dropdown-toggle" data-toggle="dropdown" href="#" id="leaderboards">Leaderboards<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li style="text-align: center"><a href="/crowd.html"><span class="glyphicons glyphicons-group"></span> Crowds</a></li>
                            <li style="text-align: center"><a href="/leaderboard.html"><span><i class="glyphicon glyphicon-user"></i></span> Users</a></li>
                        </ul>
                    </li>
                    <li style="text-align: center"><a href="/profile.html"><span><i class="glyphicon glyphicon-user"></i></span> {{userInformation.attributes.preferred_username}}</a></li>
                </ul>
                </div>
            </div>
        </div>
    </div>
