<script type="text/javascript">
  window.initialData = <%- JSON.stringify(initialData) -%>;
</script>
<script src="http://localhost:8097"></script>

<%- include('header') -%>
  <div id="root"><%- initialMarkup -%></div>
<%- include('footer') -%>
