files:
  "/opt/elasticbeanstalk/nodepath.rb":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env ruby
      require 'json'
      cc = "/opt/elasticbeanstalk/deploy/configuration/containerconfiguration"
      j = JSON.parse(File.read(cc))
      node_version = j["optionsettings"]["aws:elasticbeanstalk:container:nodejs"]["NodeVersion"]
      node_path = "/opt/elasticbeanstalk/node-install/node-v#{node_version}-linux-x64/bin/"
      puts node_path

commands:
  install_nodemon: 
    command: bash -c "PATH=`/opt/elasticbeanstalk/nodepath.rb`:\$PATH npm -g install nodemon"
  install_babel-node: 
    command: bash -c "PATH=`/opt/elasticbeanstalk/nodepath.rb`:\$PATH npm -g install babel-node" 
option_settings:
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeCommand
    value: "npm start"