.groupsContainer {
    margin: 10px 20px;
}
.groupContainer {
    margin: 10px 20px;
    .groupHeader {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        background-color: @primary-color;
        h1 {
            color: #fff;
            margin: 0.5em;
        }
        .joinGroupButton {
            position: absolute;
            right: 25px;
        }
    }
    .lockedGroup {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}