@media (min-width: 768px) {
  .gamesList {
    width: 66%;
    float: left; }
  .homeLeaderboards {
    width: 33%;
    float: right; } }

.GamePreview {
  margin: 1em;
  border: 1px solid #ccc; }
  .GamePreview .game-header {
    border-bottom: 1px solid #ccc;
    padding: 0.25em 0.5em;
    font-weight: bold;
    background-color: #eee; }
  .GamePreview .game-details {
    padding: 0.5em;
    display: flex;
    flex-direction: column; }
  .GamePreview .headerRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    font-size: 0.9em; }
    .GamePreview .headerRow div {
      margin: 0 5px;
      padding: 3px;
      flex: 1; }
    .GamePreview .headerRow .gameTime {
      flex: 2;
      font-size: 0.9em; }
  .GamePreview .predictionSpread {
    font-size: 0.8em;
    font-weight: bold; }
  @media (max-width: 767px) {
    .GamePreview .teamName {
      width: 33%; } }
  @media (min-width: 768px) {
    .GamePreview .teamName {
      width: 40%; } }
  .GamePreview .team {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .GamePreview .team div {
      margin: 0 5px;
      padding: 3px;
      flex: 1; }
  .GamePreview .predictionScoreBox {
    width: 100%;
    background-color: #124734;
    text-align: center;
    font-weight: bold;
    color: #fff;
    padding: 5px 0;
    margin: 5px 0; }
  .GamePreview .stars {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .GamePreview .stars div {
      padding: 0 5px; }
    .GamePreview .stars .dv-star-rating-null {
      cursor: pointer;
      color: #000;
      margin-left: 5px;
      font-size: 0.8em; }
  .GamePreview a, .GamePreview a:visited {
    color: #231f20; }

.CrowdOverallCompare {
  display: flex;
  flex-direction: column; }
  .CrowdOverallCompare .compareRow {
    display: flex;
    flex: 1;
    flex-direction: row; }
  .CrowdOverallCompare .crowdStats {
    background-color: #f6dfa4; }
    .CrowdOverallCompare .crowdStats div {
      flex: 1;
      text-align: left;
      padding-left: 5px;
      color: #231f20;
      font-weight: bold; }
  .CrowdOverallCompare .userStats {
    background-color: #124734; }
    .CrowdOverallCompare .userStats div {
      flex: 1;
      text-align: left;
      padding-left: 5px;
      color: #fff;
      font-weight: bold; }

.rwd-table {
  background: #0a1f8f;
  color: #fff;
  border-radius: .4em;
  overflow: hidden; }

.rwd-table tr {
  border-color: #e04403; }

.rwd-table th, .rwd-table td {
  margin: .5em 1em; }

.rwd-table th, .rwd-table td:before {
  color: #fff; }

.rwd-table .alt-tr {
  background: #fff;
  color: #0a1f8f; }

.alt-tr td, .alt-tr td:before, .alt-tr td a {
  color: #0a1f8f; }

.link {
  cursor: pointer; }

.home-link {
  margin-top: 1em;
  color: #0a1f8f; }
  .home-link a, .home-link a:visited {
    color: #0a1f8f; }

#loginModal {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1000; }

.loginFields {
  margin-top: 30px;
  margin: 0 auto; }
  .loginFields input {
    padding: 3px;
    margin: 0 5px; }

/* Weeks */
.weeks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5px; }
  .weeks .currentWeek {
    padding: 0 0.5em;
    background-color: #124734;
    border-color: #124734;
    border-radius: 3px;
    box-shadow: 0 4px 5px 0 rgba(3, 169, 244, 0.14), 0 1px 10px 0 rgba(3, 169, 244, 0.12), 0 2px 4px -1px rgba(3, 169, 244, 0.2);
    color: #fff; }

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }
