
.GamePreview {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
}
.game-header {
    background-color: #231f20;
}
h4.game-header {
    color: #fff;
    white-space: normal;
}
.headerRow {
    border-bottom: 1px solid rgba(35, 31, 32, 0.2);
}
.headerRow > .gameDate {
    font-weight: 700;
}
.predictionRow {
    padding: 5px 3px;
    /* border-bottom: 1px solid rgba(35, 31, 32, 0.2); */
    .noPrediction {
        text-align: center;
    }
}

.crowdRow {
    background-color: rgba(0, 0, 0, 0.1);
}

.results {
    font-weight: 700;
}

.resultIcon {
    position: absolute;
    font-size: 0.8rem;
    top: 0.3rem;
    left: -0.4rem;
}
.resultTriangle {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 12px solid transparent;
    border-top: 12px solid;
}
.resultWin {
    color:#124734;
    border-top-color: rgba(18, 71, 52, 1.0);
}
.resultLoss {
    color: red;
    border-top-color: rgba(224, 20, 7, 1.0);
}
.stakes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.stakeIcon {
    height: 30px;
    width: 30px;
    margin-top: -0.4em;
}

.triangle-top-right {
	width: 0;
	height: 0;
	border-top: 140px solid #103252;
	border-left: 140px solid transparent;
}