.wager-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 12px;
    flex-direction: column;

}

.wager-details {
    text-align: right;
}

h2 {
    background-color: #1a1e2a;
    color: #fff;
}

.wager-slip-button {
    height: '100%'
}