.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.headerImage {
    width: 2.5em;
    height: 2.5em;
    margin: 0 20px;
    margin-top: -0.5em;
}