.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    .headerText {
        font-size: 1.5em;
    }
    .headerButton {
        background-color: #f6dfa4;
        color: #231f20;
    }
    .headerUserDropdown {
        color: #f6dfa4;
        position: relative;
        left: 20px;
        font-size: 0.8em;
    }
}
@media (max-width: 767px) {
    .header {
        padding: 0 15px;
    }
}
.headerImage {
    width: 2em;
    height: 2em;
    margin: 0 20px;
}