@media (min-width: 1025px) {
  .gamesList {
    flex: 2; }
  .homeLeaderboards {
    flex: 1; } }

@media (max-width: 1024px) {
  .gamesList {
    width: 100%; }
  .homeLeaderboards {
    width: 100%; } }

.GamePreview {
  margin: 1em;
  border: 1px solid #ccc; }
  .GamePreview .game-header {
    border-bottom: 1px solid #ccc;
    padding: 0.25em 0.5em;
    font-weight: bold;
    background-color: #eee; }
  .GamePreview .game-details {
    padding: 0.5em;
    display: flex;
    flex-direction: column; }
  .GamePreview .headerRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    font-size: 0.9em; }
    .GamePreview .headerRow div {
      margin: 0 5px;
      padding: 3px;
      flex: 1; }
    .GamePreview .headerRow .gameTime {
      flex: 2;
      font-size: 0.9em; }
  .GamePreview .predictionSpread {
    font-size: 0.8em;
    font-weight: bold; }
  @media (max-width: 767px) {
    .GamePreview .teamName {
      width: 33%; } }
  @media (min-width: 768px) {
    .GamePreview .teamName {
      width: 40%; } }
  .GamePreview .team {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .GamePreview .team div {
      margin: 0 5px;
      padding: 3px;
      flex: 1; }
  .GamePreview .predictionScoreBox {
    width: 100%;
    background-color: #124734;
    text-align: center;
    font-weight: bold;
    color: #fff;
    padding: 5px 0;
    margin: 5px 0; }
  .GamePreview .stars {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .GamePreview .stars div {
      padding: 0 5px; }
    .GamePreview .stars .dv-star-rating-null {
      cursor: pointer;
      color: #000;
      margin-left: 5px;
      font-size: 0.8em; }
  .GamePreview a, .GamePreview a:visited {
    color: #231f20; }

.compareDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .compareDiv button {
    margin: 5px; }

.CrowdOverallCompare {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .CrowdOverallCompare .compareRow {
    display: flex;
    flex: 1;
    flex-direction: row; }
  .CrowdOverallCompare .crowdStats {
    background-color: #f6dfa4; }
    .CrowdOverallCompare .crowdStats div {
      flex: 1;
      text-align: left;
      padding-left: 5px;
      color: #231f20;
      font-weight: bold; }
  .CrowdOverallCompare .userStats {
    background-color: #124734; }
    .CrowdOverallCompare .userStats div {
      flex: 1;
      text-align: left;
      padding-left: 5px;
      color: #fff;
      font-weight: bold; }

.homeLeaderboards {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; }

.rwd-table {
  background: #0a1f8f;
  color: #fff;
  border-radius: .4em;
  overflow: hidden; }

.rwd-table tr {
  border-color: #e04403; }

.rwd-table th, .rwd-table td {
  margin: .5em 1em; }

.rwd-table th, .rwd-table td:before {
  color: #fff; }

.rwd-table .alt-tr {
  background: #fff;
  color: #0a1f8f; }

.alt-tr td, .alt-tr td:before, .alt-tr td a {
  color: #0a1f8f; }

.link {
  cursor: pointer; }

.home-link {
  margin-top: 1em;
  color: #0a1f8f; }
  .home-link a, .home-link a:visited {
    color: #0a1f8f; }

#loginModal {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1000; }

.loginFields {
  margin-top: 30px;
  margin: 0 auto; }
  .loginFields input {
    padding: 3px;
    margin: 0 5px; }

.loginButton {
  margin: 10px 0;
  width: 100%; }

.forgotPasswordLink {
  text-align: center;
  cursor: pointer; }

/* Weeks */
.weeks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5px; }
  .weeks .currentWeek {
    padding: 0 0.5em;
    background-color: #124734;
    border-color: #124734;
    border-radius: 3px;
    box-shadow: 0 4px 5px 0 rgba(3, 169, 244, 0.14), 0 1px 10px 0 rgba(3, 169, 244, 0.12), 0 2px 4px -1px rgba(3, 169, 244, 0.2);
    color: #fff; }

/* Team Colors */
.oak.primary {
  color: #fff;
  background-color: #000; }

.oak.secondary {
  color: #000;
  background-color: #a5acaf; }

.ari.primary {
  color: #fff;
  background-color: #97233F;
  border: 1px solid #ffb612; }

.ari.secondary {
  color: #000;
  background-color: #ffb612;
  border: 1px solid #97233F; }

.atl.primary {
  color: #fff;
  background-color: #a71930;
  border: 1px solid #000; }

.atl.secondary {
  color: #fff;
  background-color: #000;
  border: 1px solid #a71930; }

.bal.primary {
  color: #fff;
  background-color: #241773;
  border: 1px solid #000; }

.bal.secondary {
  color: #fff;
  background-color: #000;
  border: 1px solid #241773; }

.buf.primary {
  color: #fff;
  background-color: #00338D;
  border: 1px solid #C60C30; }

.buf.secondary {
  color: #fff;
  background-color: #C60C30;
  border: 1px solid #00338D; }

.car.primary {
  color: #000;
  background-color: #0085CA;
  border: 1px solid #101820; }

.car.secondary {
  color: #fff;
  background-color: #101820;
  border: 1px solid #0085CA; }

.chi.primary {
  color: #fff;
  background-color: #0B162A;
  border: 1px solid #C83803; }

.chi.secondary {
  color: #fff;
  background-color: #C83803;
  border: 1px solid #0B162A; }

.cin.primary {
  color: #000;
  background-color: #FB4F14;
  border: 1px solid #000; }

.cin.secondary {
  color: #fff;
  background-color: #000;
  border: 1px solid #FB4F14; }

.cle.primary {
  color: #fff;
  background-color: #311D00;
  border: 1px solid #FF3C00; }

.cle.secondary {
  color: #000;
  background-color: #FF3C00;
  border: 1px solid #311D00; }

.dal.primary {
  color: #fff;
  background-color: #003594;
  border: 1px solid #041E42; }

.dal.secondary {
  color: #fff;
  background-color: #041E42;
  border: 1px solid #003594; }

.den.primary {
  color: #000;
  background-color: #Fb4F14;
  border: 1px solid #002244; }

.den.secondary {
  color: #fff;
  background-color: #002244;
  border: 1px solid #Fb4F14; }

.det.primary {
  color: #fff;
  background-color: #0076B6;
  border: 1px solid #B0B7Bc; }

.det.secondary {
  color: #000;
  background-color: #B0B7B2;
  border: 1px solid #0076B6; }

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }
